*{
	margin: 0;
	padding: 0;
}
#game{
	width: 320px;
	height: 568px;
	margin: 50px auto;
	overflow: hidden;
}
#gameStart{
	width: 100%;
	height: 100%;
	background: url(image/ks.png);
	position: relative;
	/*display: none;*/
}
#gameStart span{
	width: 160px;
	height: 40px;
	text-align: center;
	line-height: 32px;
	border-radius: 8px;
	display: block;
	position: absolute;
	left: 80px;
	bottom: 100px;
	font-size: 24px;
	letter-spacing: 2px;
	font-weight: bolder;
	color: #000;
	cursor: pointer;
	border: 4px solid #666;
	box-sizing: border-box;
}
#gameStart span:hover{
	color: #fff;
}

#gameEnter{
	width: 100%;
	height: 100%;
	background: url(image/background_1.png);
	position: relative;
	display: none;
}
#myPlane{
	width: 66px;
	height: 80px;
	position: absolute;
	left: 126px;
	bottom: 0;
	cursor: pointer;
}
.b{
	width: 6px;
	height: 14px;
	position: absolute;
}

#enemy{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
#enemy img{
	position: absolute;
}
#scoreTotal p{
	text-align: right;
	margin-right: 20px;
	color: #000;
	font-size: 24px;
	font-weight: bolder;
	padding-top: 10px;
}
